<template>
<div>
  <router-view/>
   <cookie-banner id="cookie" application-name="Group 17 App" policy-link="./datenschutz.html" @on-accept="accept"></cookie-banner>
</div>
</template>
<script>


export default {
  methods: {
    accept(event) {
      console.log(event.detail);
      var msg = "User akzeptiert "
      if (event.detail.necessary) msg=msg+"notwendige "
      if (event.detail.marketing) msg=msg+",marketing "
      if(event.detail.statistics) msg = msg+",statistics "
      msg=msg+"Cookies!"
       window.alert(msg)
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
