<template>
  <h2 v-if="!data">RSS-Feed erstellen</h2>
  <h2 v-else>RSS-Feed bearbeiten</h2>
  <div class="p-fluid">
    <div class="p-field">
      <label for="firstname">Vollständige URL des RSS-Feeds:</label>
      <InputText
        id="firstname"
        v-model="url"
        class="p-inputtext-sm"
        style="max-width:300px"
        type="text"
      />
    </div>
    <div class="p-field">
      <label for="lastname"> Folgende Stichwörter im Feed suchen:</label>
      <InputText
        id="lastname"
        v-model="tags"
        type="text"
        style="max-width:300px"
      />
    </div>
    <div class="p-field-checkbox" style="display:block !important">
      <Checkbox id="binary" v-model="allTags" :binary="true" />
      <label for="binary">Alle Stichwörter müssen enthalten sein</label>
    </div>
    <div class="p-field">
       <label for="upload">Optionales Icon: </label><br/>
      <img max-width="20px" v-if="imgPath" :src="imgPath" />
      <i v-else class="pi pi-twitter"></i>
      <FileUpload
      id="upload"
        mode="basic"
        name="demo[]"
        :auto="true"
        accept="image/*"
        :maxFileSize="10000"
        :customUpload="true"
        @uploader="myUploader"
        chooseLabel="Icon"
      />
    </div>
    <div class="p-field p-grid">
      <div id="feed-active" class="p-col">
        <h5>Feed Active</h5>
        <InputSwitch v-model="active" />
      </div>
    </div>
  </div>
  <div class="p-grid p-jc-center">
    <Button class="p-col-4" label="Abbrechen" @click="cancel" />
    <div class="p-col-1" />
    <Button
      class="p-col-4"
      label="Speichern"
      icon="pi pi-save"
      :disabled="!valid"
      @click="addFeed"
    />
  </div>
</template>

<script>
import FileUpload from 'primevue/fileupload';
import axios from 'axios';
export default {
  props: ['data'],
  name: 'feedadd',
  emits: ['saved', 'cancelled'],
  components: {
    FileUpload,
  },
  data: () => {
    return {
      url: null,
      tags: null,
      allTags: false,
      active: true,
      update: false,
      id: null,
      image: null,
      imgPath: null,
    };
  },
  mounted() {
    if (this.data) {
      this.update = true;
      this.url = this.data.url;
      this.id = this.data.id;
      this.tags = this.data.keywords.join(',');
      this.allTags = this.data.all_keywords_required;
      this.imgPath = this.data.icon;
      this.active = this.data.active;
    }
  },
  computed: {
    valid() {
      if (!this.url) return false;
      if (!this.tags) return false;
      if (this.tags.split(',').length > 3) return false;
      var valid = true;
      this.tags.split(',').forEach((element) => {
        if (element.length < 3) valid = false;
      });
      return valid;
    },
  },
  methods: {
    myUploader: async function(event) {
      console.log(event.files[0]);
      this.imgPath = event.files[0].objectURL;
      this.image = event.files[0];
    },
    async addFeed() {
      const idToken = await this.$store.getters.getToken;
      var method = 'post';
      var url = 'http://localhost:8000/api/feeds/';
      let form_data = new FormData();
      form_data.append('url', this.url);
      form_data.append('keywords', this.tags.split(','));
      form_data.append('all_keywords_required', this.allTags);
      form_data.append('active', this.active);

      if (this.image) form_data.append('icon', this.image);

      if (this.update) {
        method = 'put';
        url = url + this.id + '/';
      }
      if (idToken) {
        axios({
          method: method,
          headers: {
            Authorization: 'Bearer ' + idToken,
            'content-type': 'multipart/form-data',
          },
          url: url,
          data: form_data,
        }).then((response) => {
          if (response.status === 200 || response.status === 201) {
            this.$emit('saved', true);
          }
        }); //TODO:Error Handling
      }
    },
    cancel() {
      this.$emit('saved', false);
    },
  },
};
</script>
<style scoped>
.p-inputswitch .p-inputswitch-checked .p-inputswitch-slider {
  background-color: green !important;
}
</style>
