<template>
  <Button label="Log In" @click="logIn"/>
</template>

<script>
import querystring from 'querystring'
import { useStore } from 'vuex'

export default {
  name: 'LoginButton',
  data: () => {
    return {
      authUrl: "#"
    }
  },
  async mounted() {
    const random = [...Array(48)]
      .map(() => ((Math.random() * 36) | 0).toString(36))
      .join("");
    const nonce = btoa(random);

    const queryParams = {
      "client_id": "waecm",
      "response_type": "id_token token",
      "prompt": "consent",
      "scope": "openid profile offline_access email phone",
      "nonce": nonce,
      "redirect_uri": `${window.location.origin}/feeds`
    }
    const queryString = querystring.stringify(queryParams);
    const store = useStore()
    const baseUrl = (await store.dispatch('getOidcConfig')).authorization_endpoint;
    this.authUrl = `${baseUrl}?${queryString}`;
  },
  methods:{
    logIn(){
      window.location=this.authUrl
    }

  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
