<template>
  <div v-if="!error">
    <div v-if="!userData">
      Loading...
    </div>
    <div v-else>
      <Card style="width: 25em; margin:0 auto">
        <template #header>
          <img alt="user header" :src="this.userData.picture">
        </template>
        <template #title>
          User
        </template>
        <template #content>
          Username : {{ this.userData.preferred_username }}
        </template>
        <template #footer>
          <Button label="Log Out" @click="logOut"/>
        </template>
      </Card>

    </div>
  </div>
  <div v-else>
    An error was encountered.
  </div>

</template>
<script>
//import { useStore } from 'vuex'
import {useStore} from "vuex";
import jwt_decode from "jwt-decode";
import querystring from "querystring";

import axios from "axios";

export default {
  name: "profile",
  data: () => {
    return {
      config: null,
      userData: null,
      error: false,
      logoutUrl: null
    }
  },
  async mounted() {
    const store = useStore()
    this.config = await store.dispatch('getOidcConfig')
    const params = new URLSearchParams(this.$route.hash)
    const accessToken = params.get('access_token')
    const idToken = params.get('id_token')
    if (!idToken) {
      this.error = true;
    } else {
      const headers = {"Authorization": "Bearer " + idToken}
      const response = (await axios.get("http://localhost:8000/api/login", {headers: headers}))
      if (response.status !== 200 || !response.data["success"]) {
        console.log("Backend login reported error", response)
        this.error = true
      } else {
        console.log("Authentication with backend successful.")
      }

      const decoded = jwt_decode(idToken)
      console.log(decoded)
      console.log(idToken)
      this.userData = decoded
      await store.commit("updateIdToken", idToken)
      await store.commit("updateAccessToken", accessToken)
      //this.userData = await store.dispatch('getUserData')
      const queryParams = {
        "id_token_hint": idToken,
        "post_logout_redirect_uri": `${window.location.origin}/`
      }
      const baseUrl = this.config.end_session_endpoint
      const queryString = querystring.stringify(queryParams);
      this.logoutUrl = `${baseUrl}?${queryString}`;

    }
  },
  methods: {
    logOut() {
      this.$router.push(this.logoutUrl);
    }
  }

}
</script>
