<template>
  <div class="p-grid">
    <div class="p-col-1" max-width="20px" style="padding-top:16px;">
            <img v-if="iconPath" :src="iconPath">
            <i v-else class="pi pi-twitter"></i>
          </div>
    <div class="p-col-11">
    <div class="tweet-title">{{ title }}</div>
    <div>{{ date }}</div>
    <a :href="urlToArticle" target="_blank">{{
      urlToArticle?.length > 40 ? urlToArticle.substring(0, 40) + '...' : urlToArticle
    }}</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tweet',
  props: ['data'],
  data: () => {
    return {
      title: '',
      urlToArticle: '',
      date: '',
      time: '',
      iconPath: null
    };
  },
  beforeMount() {
    if (this.data) {
      this.title = this.data.news.message;
      this.urlToArticle = this.data.news.url;
      const dateTime = new Date(this.data.created_at);
      this.date =
        dateTime.getDate() +
        '.' +
        (dateTime.getMonth()+1) +
        '.' +
        dateTime.getFullYear() +
        ' ' +
        dateTime.getHours() +
        ':' +
        String(dateTime.getMinutes()).padStart(2, '0')

    if(this.data.news.feed) this.iconPath = this.data.news.feed.icon
    }
  },
};
</script>
<style scoped>
.tweet-title {
  font-weight: bold;
}
</style>
