<template>
  <div v-if="!error">
    <div v-if="!userData">
      Loading...
    </div>
    <div v-else>
      <div id="nav">
        <!-- TODO merge buttons nicely -->
        <span class="p-buttonset">
          <router-link to="/feeds">
            <Button class="p-button" label="Tweets" />
          </router-link>
          <router-link to="/feeds/settings">
            <Button class="p-button" label="Einstellungen" />
          </router-link>
        </span>
      </div>
      <router-view />
    </div>
  </div>
</template>
<script>
import { useStore } from 'vuex';
import jwt_decode from 'jwt-decode';
import querystring from 'querystring';

import axios from 'axios';
export default {
  name: 'Feeds',
  data: () => {
    return {
      config: null,
      userData: null,
      error: false,
      logoutUrl: null,
    };
  },
  async mounted() {
    const store = useStore();
    this.config = await store.dispatch('getOidcConfig');
    const params = new URLSearchParams(this.$route.hash);
    const accessToken = params.get('access_token');
    const idToken = params.get('id_token');
    if (!idToken) {
      this.error = true;
    } else {
      const headers = { Authorization: 'Bearer ' + idToken };
      const response = await axios.get('http://localhost:8000/api/login', {
        headers: headers,
      });
      if (response.status !== 200 || !response.data['success']) {
        console.log('Backend login reported error', response);
        this.error = true;
      } else {
        console.log('Authentication with backend successful.');
      }

      const decoded = jwt_decode(idToken);
      this.userData = decoded;
      await store.commit('updateIdToken', idToken);
      await store.commit('updateAccessToken', accessToken);
      //this.userData = await store.dispatch('getUserData')
      const queryParams = {
        id_token_hint: idToken,
        post_logout_redirect_uri: `${window.location.origin}/`,
      };
      const baseUrl = this.config.end_session_endpoint;
      const queryString = querystring.stringify(queryParams);
      this.logoutUrl = `${baseUrl}?${queryString}`;
    }
  },
};
</script>

<style>
#nav {
  padding: 30px;
}

#nav a button {
  font-weight: bold;
  color: #2c3e50;
  background: #ffffff;
  border: 2px solid #2c3e50;
}

#nav a.router-link-exact-active button {
  background: #2196f3;
  color: white;
}
</style>
