<template>
  <template v-if="Array.isArray(feeds)">
    <template v-if="createDialog || feeds.length === 0">
      <FeedAdd
        :data="feedToEdit"
        @saved="
          {
            feedAdded($event);
            createDialog = false;
          }
        "
      />
    </template>
    <template v-else>
      <template v-for="feed in feeds" :key="feed.id">
        <div class="p-grid">
          <div
            class="p-col-1"
            max-width="20px"
            style="padding-top:16px; margin-left:15px"
          >
            <img v-if="feed.icon" :src="feed.icon" />
            <i v-else class="pi pi-twitter"></i>
          </div>
          <div class="p-col-7" style="padding-top:16px; overflow:hidden">
            <feed :data="feed" />
          </div>
          <div class="p-col-1">
            <Button
              icon="pi pi-pencil"
              @click="edit(feed)"
              class="p-button-rounded p-button-sm  p-button-text"
            />
          </div>
          <div class="p-col-1">
            <Button
              icon="pi pi-trash"
              @click="deleteFeed(feed.id)"
              class="p-button-rounded p-button-danger p-button-sm  p-button-text"
            />
          </div>
        </div>
      </template>
      <div class="p-grid">
        <div class="p-col">
          <Button
            class="p-button-sm p-button-text"
            icon="pi pi-plus"
            label="RSS-Feed hinzufügen"
            :disabled="feeds.length === 3"
            @click="createDialog = true"
          />
        </div>
      </div>
      <div class="p-grid logout">
        <div class="p-col">
          <Button
            class="p-button-sm  p-button-danger"
            icon="pi pi-power-off"
            label="Logout"
            iconPos="right"
            @click="logOut"
          />
        </div>
      </div>
    </template>
  </template>
</template>
<script>
import FeedAdd from '@/components/FeedAdd.vue';
import axios from 'axios';
import Feed from '@/components/Feed.vue';
import querystring from 'querystring';
export default {
  name: 'settings',
  components: {
    FeedAdd,
    Feed,
  },
  data: () => {
    return {
      createDialog: false,
      feedToEdit: null,
      feeds: null, //init null so empty feeds doesn't trigger new feed dialog,
      logoutUrl: null,
    };
  },
  async mounted() {
    this.feeds = await this.getFeeds();
    const idToken = await this.$store.getters.getToken;
    const config = await this.$store.dispatch('getOidcConfig');
    const queryParams = {
      id_token_hint: idToken,
      post_logout_redirect_uri: `${window.location.origin}/`,
    };
    const baseUrl = config.end_session_endpoint;
    const queryString = querystring.stringify(queryParams);
    this.logoutUrl = `${baseUrl}?${queryString}`;
  },
  methods: {
    logOut() {
      window.location = this.logoutUrl;
    },
    async getFeeds() {
      const idToken = await this.$store.getters.getToken;
      if (idToken) {
        const headers = { Authorization: 'Bearer ' + idToken };
        const response = await axios.get('http://localhost:8000/api/feeds/', {
          headers: headers,
        });
        if (response.status !== 200) {
          console.error(response);
        } else {
          return response.data;
        }
      }
    },
    async feedAdded(success) {
      this.createDialog = false;
      //TODO handle error properly?
      if (success) this.feeds = await this.getFeeds();
      this.feedToEdit = null;
    },
    edit(feed) {
      this.feedToEdit = feed;
      this.createDialog = true;
    },

    async deleteFeed(id) {
      const idToken = await this.$store.getters.getToken;
      if (idToken) {
        const headers = { Authorization: 'Bearer ' + idToken };
        const response = await axios.delete(
          'http://localhost:8000/api/feeds/' + id,
          {
            headers: headers,
          }
        );
        if (response.status !== 204) {
          console.error(response);
        } else {
          this.feeds = await this.getFeeds();
        }
      } else {
        this.$router.push('/');
      }
    },
  },
};
</script>
<style scoped>
.logout {
  position: absolute;
  bottom: 0px;
}
</style>
