<template>
  <div v-if="noFeeds">
    Kein RSS-Feed vorhanden<br />
    <router-link to="/feeds/settings">
      RSS-Feed erstellen
    </router-link>
  </div>
  <div v-else-if="Array.isArray(tweets) && tweets.length === 0">
    Keine Tweets vorhanden
    <p class="sad-emoji">☹️</p>
  </div>
  <template v-else-if="Array.isArray(tweets)">
    <ScrollPanel style="width: 100%; height:60vh">
      <template v-for="tweet in tweets || []" :key="tweet.id">
        <Tweet :data="tweet" />
        <Divider />
      </template>
    </ScrollPanel>
    <br />
    <Button
      class="p-button-sm p-button-text"
      @click="loadMoreTweets(tweets.length)"
    >
      Mehr laden
    </Button>
  </template>
</template>

<script>
import Tweet from '@/components/Tweet.vue';
import axios from 'axios';
import Divider from 'primevue/divider';
import ScrollPanel from 'primevue/scrollpanel';

export default {
  name: 'tweets',
  components: {
    Tweet,
    Divider,
    ScrollPanel,
  },
  data: () => {
    return {
      noFeeds: false, // TODO: set to true if tweets api call returns error because there are no feeds
      tweets: null, //intentionally null so "No Tweets" message is only shown after API call
    };
  },
  async mounted() {
    this.tweets = await this.getTweets();
  },
  methods: {
    async getTweets() {
      const idToken = await this.$store.getters.getToken;
      if (idToken) {
        const headers = { Authorization: 'Bearer ' + idToken };
        const params = { limit: 6, offset: 0 };
        const response = await axios.get('http://localhost:8000/api/tweets/', {
          headers: headers,
          params: params,
        });
        console.log(response);
        if (response.status === 204) {
          this.noFeeds = true;
        } else {
          return response.data.results;
        }
      } else {
        this.$router.push('/');
      }
    },
    async loadMoreTweets(offset) {
      const idToken = await this.$store.getters.getToken;
      if (idToken) {
        const headers = { Authorization: 'Bearer ' + idToken };
        const params = { limit: 6, offset: offset };
        const response = await axios.get('http://localhost:8000/api/tweets/', {
          headers: headers,
          params: params,
        });

        if (response.status === 204) {
          this.noFeeds = true;
        } else {
          response.data.results.forEach((element) => {
            this.tweets.push(element);
          });
        }
      } else {
        this.$router.push('/');
      }
    },
  },
};
</script>

<style scoped>
.sad-emoji {
  font-size: 100px;
}
</style>
